*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f5f1ec;
    scroll-behavior:smooth;
}
section{
    scroll-margin-top: 90px;
}


/* NAVBAR */
.navbar{
    background:#4e342e;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:10px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}


.navbar ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.menu-toggle{
    display:none;
    font-size:24px;
    cursor:pointer;
}


.hero{
    height:80vh;
    background:url("imagenes/love.png") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero-overlay{
    position:absolute;
    width:100%;
    height:80vh;
    background:rgba(0,0,0,0.45);
}

.hero-texto{
    position:relative;
}

.btn-principal{
    padding:12px 20px;
    background:#6d4c41;
    border:none;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.btn-principal:hover{
    background:#3e2723;
}

/* MENÚ */
.seccion-cards{
    padding:40px;
    text-align:center;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:white;
    width:250px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/* GALERÍA */
.galeria{
    padding:40px;
    text-align:center;
}

.galeria-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
}

.galeria-grid img{
    width:100%;
    height:260
}

.galeria-grid img:hover{
    transform:scale(1.05);
}

/* HORARIO */
.ubicacion-horario{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding:40px;
    justify-content:center;
}

.horario{
    background:#d7ccc8;
    padding:20px;
    border-radius:10px;
}

.mapa iframe{
    width:400px;
    height:250px;
    border:0;
    border-radius:10px;
}

/* CONTACTO */
.contacto-central{
    text-align:center;
    padding:40px;
}

.form-contacto{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:400px;
    margin:auto;
}

.form-contacto input,
.form-contacto textarea{
    padding:10px;
}

/* QR  */
.qr-flotante{
    position:fixed;
    bottom:15px;
    right:15px;
    background:white;
    padding:6px;
    border-radius:10px;
    box-shadow:0 0 8px rgba(0,0,0,.3);
}

.qr-flotante img{
    width:90px;
}

/* FOOTER */
footer{
    background:#4e342e;
    color:white;
    padding:30px;
}

.footer-contenido{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.copy{
    text-align:center;
    margin-top:20px;
}

/* ANIMACIONES */
.fade-in{
    animation:fade 1s ease-in;
}

@keyframes fade{
    from{opacity:0;transform:translateY(20px);}
    to{opacity:1;}
}

/* RESPONSIVE */
@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .navbar ul{
        display:none;
        flex-direction:column;
        background:#4e342e;
        width:100%;
        position:absolute;
        left:0;
        top:50px;
        padding:20px;
    }

    .navbar ul.mostrar{
        display:flex;
    }

    .mapa iframe{
        width:100%;
    }
}
.ordenar-btn{
    position:fixed;
    bottom:20px;
    left:20px;
    background:#6d4c41;
    color:white;
    padding:12px 18px;
    border-radius:30px;
    text-decoration:none;
    box-shadow:0 4px 8px rgba(0,0,0,.3);
    transition:.3s;
}

.ordenar-btn:hover{
    background:#3e2723;
}

/* TABLA MENU */
table{
    margin:30px auto;
    border-collapse:collapse;
    width:80%;
    max-width:600px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

table th{
    background:#6d4c41;
    color:white;
    padding:12px;
}

table td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#efebe9;
}
